---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Cardfilm.astro";
import { getFilmsSortedByDate } from "../../../backend/backend.mjs";

const Films = await getFilmsSortedByDate();
console.log(Films);
---

<Layout>
  <div class="bg-black">
    <div class="container py-10 space-y-8">
      <h1 class="text-beige text-3xl font-bold">Les films diffusés</h1>
      <p class="text-beige mt-4">
        Le festival "Ca Va Trail'er" ne vous a pas seulement prévu une diffusion
        de courts métrages. En alliant nouvelles technologies, sport et vidéo,
        attendez-vous à vivre une expérience exceptionnelle. De l'intelligence
        artificielle à l'écran géant en passant par la réalité virtuelle,
        découvrez de toutes nouvelles activités et un nouveau style de festival.
        Les activités ne vous sont, pour l'instant, pas divulguées... Il faut
        toujours garder une part de surprise...
      </p>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-4 gap-6 mt-8"
      >
        {
          Films.length > 0 ? (
            Films.map((Film) => (
              <a href={`/nosfilms/${Film.id}`} class="block">
                <Card {...Film} />
              </a>
            ))
          ) : (
            <p class="text-white">Pas de film à voir.</p>
          )
        }
      </div>
    </div>
  </div>
</Layout>
