---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Cardfilm.astro";
import { getFilmsSortedByDate } from "../../../backend/backend.mjs";

const Films = await getFilmsSortedByDate();
const genres = [...new Set(Films.map((film) => film.genre))];


---

<Layout>
  <div class="bg-black min-h-screen p-8">
    <h1 class="text-beige text-3xl font-bold mb-4">Les films diffusés</h1>

    <label for="genreFilter" class="text-white font-bold"
      >Filtrer par genre :</label
    >
    <select
      id="genreFilter"
      class="ml-2 p-2 bg-gray-800 text-white border border-gray-600 rounded"
    >
      <option value="all">Tous les genres</option>
      {genres.map((genre) => <option value={genre}>{genre}</option>)}
    </select>
    <div
      id="filmList"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-4 gap-6 mt-8"
    >
      {
        Films.map((Film) => (
          <a
            href={`/nosfilms/${Film.id}`}
            class="block film-card"
            data-genre={Film.genre}
          >
            <Card {...Film} />
          </a>
        ))
      }
    </div>
  </div>
  <script>
    document
      .getElementById("genreFilter")
      .addEventListener("change", function () {
        const selectedGenre = this.value;
        const films = document.querySelectorAll(".film-card");

        films.forEach((film) => {
          if (selectedGenre === "all" || film.dataset.genre === selectedGenre) {
            film.style.display = "block"; 
          } else {
            film.style.display = "none"; 
          }
        });
      });
  </script>
</Layout>
