---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto px-4 py-16 space-y-12">
    <h1
      class="font-bold text-3xl text-center 'Josefin Sans Variable' text-beige-800"
    >
      À propos
    </h1>

    <h2 class="text-red-400 text-4xl font-semibold text-center">
      Ça va trail'er
    </h2>

    <p class="text-lg text-beige-800 leading-relaxed">
      Le festival Ça va trail'er est né de l'envie de réunir deux univers
      passionnants : le sport et le cinéma.
    </p>
    <p class="text-lg text-beige-800 leading-relaxed">
      Pendant une semaine à Belfort, il offrira une scène unique pour de
      nouveaux artistes et athlètes à travers des courts métrages captivants,
      célébrant à la fois la créativité et l'effort physique.
    </p>
    <p class="text-lg text-beige-800 leading-relaxed">
      Organisé au printemps, en plein air, ce festival vise à dynamiser la ville
      tout en profitant d'un cadre naturel. L'originalité réside dans
      l'interaction directe avec le public, qui élira le meilleur film, et les
      rencontres privilégiées avec les réalisateurs et sportifs.
    </p>
    <p class="font-bold text-lg text-beige-800leading-relaxed">
      Une expérience immersive, ouverte aux familles et aux amateurs de sport et
      de culture.
    </p>
    <section class="space-y-4">
      <h2 class="text-xl font-semibold text-beige-800">
        Qui peut participer ?
      </h2>
      <p class="text-lg text-beige-800 leading-relaxed">
        Les nouveaux artistes. Ainsi, le festival accueille aussi bien les
        amateurs que ceux débutant dans le cadre professionnel. Il faut
        néanmoins avoir au minimum deux courts métrages réalisés à nous envoyer.
      </p>
    </section>

    <section class="space-y-4">
      <h2 class="text-3xl font-semibold text-beige-800">Notre équipe</h2>
      <p class="text-lg text-beige-700 leading-relaxed">
        Notre équipe est composée de passionnés de cinéma et de trail, unissant
        leurs expertises pour donner vie à ce festival unique.
      </p>
      <ul class="space-y-2">
        <li class="text-xl font-bold text-beige-800">Paul Moreau</li>
        <p class="text-beige-700">
          Directeur artistique, sélectionne les courts métrages avec soin pour
          refléter l'essence du trail et de la nature.
        </p>

        <li class="text-xl font-bold text-beige-800">Claire Dupuis</li>
        <p class="text-beige-700">
          Responsable technique, garantit une projection de haute qualité et
          gère la logistique audiovisuelle.
        </p>

        <li class="text-xl font-bold text-beige-800">Lucas Garnier</li>
        <p class="text-beige-700">
          Chargé de communication, fait rayonner l'événement sur les réseaux
          sociaux et auprès des communautés sportives.
        </p>

        <li class="text-xl font-bold text-beige-800">Sophie Blanchard</li>
        <p class="text-beige-700">
          Coordinatrice logistique, veille au bon déroulement de l'événement et
          à l'accueil des participants.
        </p>
      </ul>
      <p class="mt-6 text-lg text-beige-700 leading-relaxed">
        Ensemble, nous partageons une vision commune : célébrer le trail à
        travers l'art cinématographique.
      </p>
    </section>

    <section class="space-y-4">
      <h2 class="text-xl font-semibold text-beige-800">Nos valeurs</h2>
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="text-center text-lg font-bold text-beige-800 text-blue-700">
          Accessibilité
        </div>
        <div class="text-center text-lg font-bold text-beige-800 text-amber-400">
          Authenticité
        </div>
        <div class="text-center text-lg font-bold text-beige-800 text-red-700">Passion</div>
        <div class="text-center text-lg font-bold text-beige-800 text-green-700">Nature</div>
      </div>
    </section>

    <section>
      <h2 class="text-xl font-semibold text-beige-800">Nos partenaires</h2>
      <div class="grid grid-cols-3 justify-center gap-6 mt-4">
        <img
          src="src/assets/image/partenaire.webp"
          alt="logo partenaire 1"
          class="w-full max-w-xs mx-auto rounded-lg shadow-lg"
        />
        <img
          src="src/assets/image/ville de belfort.webp"
          alt="logo partenaire 2"
          class="w-full max-w-xs mx-auto rounded-lg shadow-lg"
        />
        <img
          src="src/assets/image/fbpartenaire.webp"
          alt="logo partenaire 3"
          class="w-full max-w-xs mx-auto rounded-lg shadow-lg"
        />
      </div>
    </section>
  </main>
</Layout>
