---
import Layout from "../../layouts/Layout.astro";
import { sendMessage } from "../../backend.mjs";

let message = "";
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const response = await addOffre(formData);
  message = response.message;
}
---

<Layout>
  <h1 class="text-lg font-bold text-3xl text-pink-500">Ajouter une offre</h1>
  <form
    class="flex flex-col gap-4 mt-5 p-6 bg-white shadow-lg rounded-lg max-w-md mx-auto"
    action="/offres/add"
    method="POST"
    enctype="multipart/form-data"
  >
    <input
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      type="text"
      name="nomMaison"
      placeholder="Nom de la maison"
      required
    />

    <input
      type="number"
      name="prix"
      placeholder="Prix"
      class="p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <input
      type="number"
      name="nbSdb"
      placeholder="Nombre de salles de bain"
      class="p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <input
      type="number"
      name="nbChambres"
      placeholder="Nombre de chambres"
      class="p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <input
      type="number"
      name="surface"
      placeholder="Superficie"
      class="p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <input type="file" name="image" />

    <button
      type="submit"
      class="bg-green-600 text-white rounded-md w-28 max-w-lg mt-7"
    >
      Ajouter
    </button>
  </form>
  <p class="text-red-800 font-bold bg-yellow-100">{message}</p>
</Layout>
