---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center">
    <h1 class="text-4xl font-bold">Ca va trail'er</h1>
    <img
      src="src/assets/image/fond accueil.webp"
      alt="photo accueil"
      class="mx-auto mt-4 w-full max-w-2xl"
    />

    <p class="mt-4 text-lg">
      Plongez dans l'univers de notre festival ! Découvrez les évènements à ne
      pas manquer et profitez d'une expérience inoubliable !
    </p>
  </section>

  <section class="mt-8 text-center">
    <p class="text-lg font-semibold">
      Du 15 au 21 avril 2025 à la citadelle de Belfort. Festival accessible à
      tous, participants et festivaliers !
    </p>
  </section>

  <a
    class="mt-4 text-white py-2 px-4 rounded-md"
    href="billetterie.html">Réservez vos places</a
  >

  <section>
    <div>
      <img src="assets/image/l'envole.webp" alt="arrow" />
      <p>
        L'ENVOL-Blandine L'hirondel<br />PREMIÈRE MONDIALE<br />FRANCE -26 min
        30- Version française<br />Réalisé par Romain Saubion
      </p>
    </div>

    <div>
      <img src="assets/image/free to run.webp" alt="affiche free to run" />
      <p>
        FREE TO RUN<br />États-Unis-31 min- Version originale sous-titrée<br
        />Réalisé par Carrie et Tim Highman
      </p>
    </div>

    <div>
      <a href="programmation.html">
        <button>Voir la programmation complète</button>
      </a>
    </div>

    <div>
      <img src="assets/image/kilian jornet.webp" alt="affiche kilian jornet" />
      <p>
        Kilian Jornet<br />Nous présentera son film sur sa traversée des
        Pyrénées,<br />In the (un)know
      </p>
    </div>

    <div>
      <img src="assets/image/caroline chaverot.webp" alt="caroline chaverot" />
      <p>
        Caroline Chaverot<br />
        Sera présente pour nous présenter son livre, La face cachée
      </p>
    </div>

    <div>
      <a href="nosinvités.html">
        <button>Voir les sportifs présents</button>
      </a>
    </div>
  </section>

  <section>
    <div>
      <img src="assets/image/festival.webp" alt="photo de festival" />
      <a href="billetterie.html"><button>Billeterie</button></a>
    </div>

    <div>
      <img src="assets/image/course.webp" alt="photo de course" />
      <a href="contact.html"><button>Nous contacter</button></a>
    </div>

    <div>
      <img src="assets/image/a propos.webp" alt="photo d'escalade" />
      <a href="apropos.html"><button>A propos</button></a>
    </div>
  </section>

  <section>
    <h1>Nos partenaires</h1>
    <div class="flex w-full">
      <img src="src/assets/image/partenaire.webp" alt="logo partenaire 1" />
      <img
        src="src/assets/image/ville de belfort.webp"
        alt="logo partenaire 2"
      />
      <img src="src/assets/image/fbpartenaire.webp" alt="logo partenaire 3" />
    </div>
  </section>
</Layout>
