---
import Layout from "../layouts/Layout.astro";
import Cardfaq from "../components/Cardfaq.astro";
---

<Layout>
  <main class="p-6">
    <h1 class="text-3xl font-bold text-center mb-6">Infos pratiques</h1>
    <section>
      <div class="text-center">
        <img
          src="src/assets/image/map.webp"
          alt="Carte de Belfort"
          class="duotone mx-auto max-w-full"
        />
      </div>
      <p class="mt-4 text-beige-700 text-start max-w-2xl mx-auto">
        La Citadelle de Belfort est le lieu idéal pour organiser notre festival,
        grâce à son cadre exceptionnel mêlant histoire et nature. Nichée entre
        montagnes et forêts, elle offre un décor unique qui reflète parfaitement
        l’esprit du trail et de l’aventure. De plus, son architecture
        majestueuse et ses vastes espaces en plein air créent une ambiance
        immersive, propice à la découverte et aux échanges autour du court
        métrage.
      </p>
      <ul class="mt-6 space-y-2 text-start">
        <li>Une accessibilité à tous grâce à des parcours adaptés.</li>
        <li>De nombreux moyens de transport.</li>
        <div class="flex justify-center space-x-4 mt-7">
          <img src="src/assets/icones copy/vélo.svg" alt="icone vélo" class="h-8" />
          <img src="src/assets/icones copy/taxi.svg" alt="icone taxi" class="h-8" />
          <img src="src/assets/icones copy/bus.svg" alt="icone bus" class="h-8" />
          <img src="src/assets/icones copy/train.svg" alt="icone train" class="h-8" />
        </div>
      </ul>
    </section>

    <section class="mt-10">
      <h2 class="text-2xl font-bold mb-7">Date du festival</h2>
      <p class="mt-2 text-beige-700">
        Le festival Ca va trail’er se déroulera du 15 au 21 avril 2025. Cette
        date nous permettrait d’avoir un temps agréable pour ce genre
        d’évènement. De plus, cette période est synonyme de vacances scolaires,
        ce qui permettrait aux familles de venir à cet évènement.
      </p>
    </section>

    <section class="mt-10">
      <h2 class="text-2xl font-bold mb-7">Nos tarifs</h2>
      <p class="mt-2 text-beige-700">
        Le festival est à but non lucratif. Les entrées sont totalement
        gratuites, néanmoins il faut effectuer une réservation à l’avance. Des
        stands et des activités pourront en revanche être payantes en fonction
        de votre âge. A savoir que tout sera gratuit pour les enfants de moins
        de 10ans (sauf nourriture).
      </p>
    </section>
  </main>
</Layout>
