---
import Logo from "../assets/images/icones/logo.svg";
import IconFacebook from "../assets/images/icones/icon_facebook.svg";
import IconInstagram from "../assets/images/icones/icon_instagram.svg";
import IconTwitter from "../assets/images/icones/icon_twitter.svg";
import IconYoutube from "../assets/images/icones/icon_youtube.svg";
import IconStrava from "../assets/images/icones/logostrava.svg";
---

<footer>
  <a href="/" aria-label="Accueil">
    <Logo />
  </a>

  <nav>
    <h3>Menu</h3>
    <ul>
      <li><a href="/agenda">A propos</a></li>
      <li><a href="/billeterie">Billetterie</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div>
    <h3>Contact</h3>
    <address>
      4 pl. Lucien Tharradin<br />25200 Montbéliard<br />
      <a href="tel:0381994734">03 81 99 47 34</a><br />
      <a href="mailto:but-mmi-montbeliard@univ-fcomte.fr"
        >but-mmi-montbeliard@univ-fcomte.fr</a
      >
    </address>
  </div>

  <div>
  </div>

  <div>
    <h3>Nous suivre</h3>
    <ul>
      <li>
        <a href="https://facebook.com" aria-label="facebook">
          <IconFacebook />
        </a>
      </li>
      <li>
        <a href="https://instagram.com" aria-label="instagram">
          <IconInstagram />
        </a>
      </li>
      <li>
        <a href="https://twitter.com" aria-label="twitter">
          <IconTwitter />
        </a>
      </li>
      <li>
        <a href="https://youtube.com" aria-label="youtube">
          <IconYoutube />
        </a>
      </li>
      <li>
        <a href="" aria-label="strava">
          <IconStrava />
        </a>
      </li>
    </ul>
  </div>
</footer>
