---
import logo from "../assets/images/logo.svg";
import IconSearch from "../assets/icones/icon_search.svg";
---

<header>
  <div>
    <a href="/" aria-label="Accueil">
      <logo></logo>
    </a>
  </div>

  <div>
    <button aria-label="Recherche">
      <IconSearch />
    </button>

    <button>
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav>
      <ul>
        <li>
          <a href="/">Billetterie</a>
        </li>
        <li>
          <a href="/Programmation">Programmation</a>
        </li>
        <li>
          <a href="/nosinvites">Nos invités</a>
        </li>
        <li>
          <a href="/apropos">A propos</a>
        </li>
        <li>
          <a href="/infospratiques">Infos pratiques </a>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
